@import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900');
/* CARL */

/* even worse dark theme styles. not ready yet.
@darkPrimaryColor: #1B5E20;
@primaryColor: #33691E;
@secondaryBackgroundColor: #424242;
@backgroundColor: #212121;
@dividerColor: #000;
@textColor: #eee;*/

/* CARL */
.namespace_note{
	display: none;
}
.package_note{
	display: none;
}

/* CODE in class page */
/* FIXME make it look different enough from class title */
.main_source {
background-color: #f5f5f5;
color: #333;
padding: 12px;
border: 1px solid #ccc;

border-radius: 4px;
margin-left: 40px ;
margin-right: 40px ;
}

/* CARL inheritance box (see Printer page) */
/*.box {
	border: 1px solid #ccc;
	margin-left: 40px ;
	margin-right: 40px ;

    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}*/
.box .headline {
	margin-left: 40px ;

}
/* Parameter in function description */ 
td.main_parameter_table_name
{
	font-family: "Lucida Console", "Monaco", "DejaVu Sans Mono", monospace;
	/* Or this ?? 
	font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
	 see http://www.setnode.com/blog/consolas-is-a-poor-choice-for-web-use/
	font-family: "Lucida Console", "Monaco", "DejaVu Sans Mono", monospace; */
	border: 1px solid #E1E1E8;
	padding: 1px 3px;
	font-size: 0.72rem; 
	white-space: normal;
	background-color: #F7F7F9;
}

/* Pasted from slack. FIXME review this Meadows.Stacktrace.Stacktrace.is_custom.html */
code{
	border: 1px solid #E1E1E8;
	padding: 1px 3px;
	font-size: 0.72rem;
	white-space: normal;
	background-color: #F7F7F9;
	color: #C25;
}
/*
////////////////////////////////////////////////////////////////////////////////////////////
*/

.main_keyword,
.main_keyword a,
.site_content .main_keyword a,
.site_content .main_keyword a:visited {
color: #ff8f00;
}
.main_basic_type,
.main_basic_type a,
.site_content .main_basic_type a,
.site_content .main_basic_type a:visited {
color: #1976d2;
}
.main_type,
.main_type a,
.site_content .main_type a,
.site_content .main_type a:visited {
color: #7b1fa2;
}
li.errorcode {
list-style-type: none;
}
li.errorcode:before {
content: "";
background-image: url('errorcode.png');
padding-right: 18px;
margin-right: 5px;
background-repeat: no-repeat;
background-position: center center;
}
li.enumvalue {
list-style-type: none;
}
li.enumvalue:before {
content: "";
background-image: url('enumvalue.png');
padding-right: 18px;
margin-right: 5px;
background-repeat: no-repeat;
background-position: center center;
}
li.abstract_class {
list-style-type: none;
}
li.abstract_class:before {
content: "";
background-image: url('abstractclass.png');
padding-right: 18px;
margin-right: 5px;
background-repeat: no-repeat;
background-position: center center;
}
li.abstract_method {
list-style-type: none;
}
li.abstract_method:before {
content: "";
background-image: url('abstractmethod.png');
padding-right: 18px;
margin-right: 5px;
background-repeat: no-repeat;
background-position: center center;
}
li.creation_method {
list-style-type: none;
}
li.creation_method:before {
content: "";
background-image: url('constructor.png');
padding-right: 18px;
margin-right: 5px;
background-repeat: no-repeat;
background-position: center center;
}
li.static_method {
list-style-type: none;
}
li.static_method:before {
content: "";
background-image: url('staticmethod.png');
padding-right: 18px;
margin-right: 5px;
background-repeat: no-repeat;
background-position: center center;
}
li.package_index {
list-style-type: none;
}
li.package_index:before {
content: "";
background-image: url('packages.png');
padding-right: 18px;
margin-right: 5px;
background-repeat: no-repeat;
background-position: center center;
}
li.virtual_method {
list-style-type: none;
}
li.virtual_method:before {
content: "";
background-image: url('virtualmethod.png');
padding-right: 18px;
margin-right: 5px;
background-repeat: no-repeat;
background-position: center center;
}
li.errordomain {
list-style-type: none;
}
li.errordomain:before {
content: "";
background-image: url('errordomain.png');
padding-right: 18px;
margin-right: 5px;
background-repeat: no-repeat;
background-position: center center;
}
li.namespace {
list-style-type: none;
}
li.namespace:before {
content: "";
background-image: url('namespace.png');
padding-right: 18px;
margin-right: 5px;
background-repeat: no-repeat;
background-position: center center;
}
li.method {
list-style-type: none;
}
li.method:before {
content: "";
background-image: url('method.png');
padding-right: 18px;
margin-right: 5px;
background-repeat: no-repeat;
background-position: center center;
}
li.struct {
list-style-type: none;
}
li.struct:before {
content: "";
background-image: url('struct.png');
padding-right: 18px;
margin-right: 5px;
background-repeat: no-repeat;
background-position: center center;
}
li.interface {
list-style-type: none;
}
li.interface:before {
content: "";
background-image: url('interface.png');
padding-right: 18px;
margin-right: 5px;
background-repeat: no-repeat;
background-position: center center;
}
li.field {
list-style-type: none;
}
li.field:before {
content: "";
background-image: url('field.png');
padding-right: 18px;
margin-right: 5px;
background-repeat: no-repeat;
background-position: center center;
}
li.class {
list-style-type: none;
}
li.class:before {
content: "";
background-image: url('class.png');
padding-right: 18px;
margin-right: 5px;
background-repeat: no-repeat;
background-position: center center;
}
li.enum {
list-style-type: none;
}
li.enum:before {
content: "";
background-image: url('enum.png');
padding-right: 18px;
margin-right: 5px;
background-repeat: no-repeat;
background-position: center center;
}
li.property {
list-style-type: none;
}
li.property:before {
content: "";
background-image: url('property.png');
padding-right: 18px;
margin-right: 5px;
background-repeat: no-repeat;
background-position: center center;
}
li.abstract_property {
list-style-type: none;
}
li.abstract_property:before {
content: "";
background-image: url('abstractproperty.png');
padding-right: 18px;
margin-right: 5px;
background-repeat: no-repeat;
background-position: center center;
}
li.virtual_property {
list-style-type: none;
}
li.virtual_property:before {
content: "";
background-image: url('virtualproperty.png');
padding-right: 18px;
margin-right: 5px;
background-repeat: no-repeat;
background-position: center center;
}
li.delegate {
list-style-type: none;
}
li.delegate:before {
content: "";
background-image: url('delegate.png');
padding-right: 18px;
margin-right: 5px;
background-repeat: no-repeat;
background-position: center center;
}
li.signal {
list-style-type: none;
}
li.signal:before {
content: "";
background-image: url('signal.png');
padding-right: 18px;
margin-right: 5px;
background-repeat: no-repeat;
background-position: center center;
}
li.package {
list-style-type: none;
}
li.package:before {
content: "";
background-image: url('package.png');
padding-right: 18px;
margin-right: 5px;
background-repeat: no-repeat;
background-position: center center;
}
li.constant {
list-style-type: none;
}
li.constant:before {
content: "";
background-image: url('constant.png');
padding-right: 18px;
margin-right: 5px;
background-repeat: no-repeat;
background-position: center center;
}
* {
box-sizing: border-box;
}
body {
margin: 0;
color: #333333;
background-color: #ffffff;
font-family: 'Source Sans Pro';
}
.site_header,
.navi_hr,
.main_hr,
h2.main_title,
h1.main_title,
.site_footer {
display: none;
}
.site_navigation {
background-color: #8bc34a;
border-bottom: 1px solid #689f38;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.site_navigation:before,
.site_navigation:after {
content: " ";
display: table;
}
.site_navigation:after {
clear: both;
}
.site_navigation .navi_main {
float: left;
height: 32px;
padding-left: 12px;
margin: 0;
line-height: 32px;
padding-right: 22px;
background-color: #8bc34a;
position: relative;
}
.site_navigation .navi_main,
.site_navigation .navi_main a {
text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
color: white;
font-weight: bold;
text-decoration: none;
}
.site_navigation .navi_main:after,
.site_navigation .navi_main:before {
content: "";
position: absolute;
display: block;
border-style: solid;
}
.site_navigation .navi_main:before {
border-color: transparent transparent transparent #689f38;
border-width: 16px;
top: 0;
right: -16px;
}
.site_navigation .navi_main:after {
border-color: transparent transparent transparent #8bc34a;
border-width: 14px;
top: 2px;
right: -12px;
}
.site_navigation .navi_main:last-child {
background-color: #f7f7f7;
border-right: 1px solid #cccccc;
z-index: -1;
padding: 38px 32px 32px 32px;
overflow: auto;
width: 260px;
position: fixed;
display: block;
left: 0;
height: 100%;
}
.site_navigation .navi_main:last-child,
.site_navigation .navi_main:last-child a {
color: #333333;
font-weight: normal;
font-family: monospace;
text-shadow: none;
text-decoration: none;
}
.site_navigation .navi_main:last-child:before,
.site_navigation .navi_main:last-child:after {
border-width: 0;
}
.site_content {
padding: 32px;
margin-left: 260px;
/* CARL Stay on top with scrollbar being handled properly */
position:absolute;
top: 33px;
left:0px;
right:0px;
bottom:0px;
overflow-y:scroll; 
}
.site_content a:visited,
.site_content a {
color: #689f38;
}
.site_content .main_diagram {
float: right;
margin: 32px;

/* CARL */ 
border: 1px solid #CCC;
margin-top: 64px;
padding: 20px;
}

.site_content .main_code_definition {
background-color: #f5f5f5;
color: #333;
padding: 12px;
border: 1px solid #ccc;

border-radius: 4px;
}
.site_content .main_code_definition .main_keyword {
color: inherit;
}
.site_content .leaf_brief_description {
border-left: 4px solid #eee;
margin: 8px 0;
padding: 0px 20px;
color: #7a7a7a;
}
.site_content .brief_description {
color: #7a7a7a;
}
.site_content .leaf_code_definition {
font-family: monospace;
}